/* [ RESTYLE TAG ]*/
body, html { width:100%; height: 100%;font-family: Poppins-Regular, sans-serif;}
body{display:flex; flex-direction: column;}
.form-group{text-align: inherit;}
.text-center{text-align: center;}
#contentPage{ flex: 1; display: flex;}
h1, h2, h3, h4, h5, h6{font-weight: bold; width: 100%}

.navbar{padding: 0 1em;}
li.nav-item{display:flex;flex-direction: column; justify-content:center;}
.nav-item:hover{background-color:#474242;}
i{margin:0 0.5em;}
.logo-apps{padding:0;}

.w-100{width:100%;}
.w-50{width:50%;}

.mg-1{margin:1em;}

input {
   outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}

.jumbotron{border-radius: 0px 0px;}

body{ 

 background: #bdc3c7;
/*  background: -webkit-linear-gradient(to top, #bdc3c7, #4e6378) fixed;
  background: linear-gradient(to top, #bdc3c7, #4e6378) fixed;
  background-repeat: no-repeat;*/
 
}
.container{
    background-color:#fff;
}

/* ####################### COLORS AND FONTS ########################################## */

.yellow{ 
    border-color: #ebb521;
    color : #ebb521;
}

.blue{
    border-color:#4383d1;
    color:#4383d1;
}

.p-1-2{
    padding: 1em 2em;
}

.m-b-2{
    margin-bottom:2em;
}

.center{
    text-align:center;
}

.borderless{
  border: none !important;
 
  outline: 0;
  font-size: 25px;
}
.borderless[readonly]{
    background-color: #fff !important;
}
.borderless:focus {
  border: none !important;
  outline: 0;
}


/* ####################################################################################
                                INDEX
####################################################################################### */

.card-rows{
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}
.card{padding:0;}
.card-img-top {
  height: auto;
  max-height: 175px;
  width: 100%;
  margin:0;
}
.bloc-card{padding: 0 0.5em;  margin: 0.5 1em 1em 1em;}

.last_recepe{
    color:#fff; 
    background-image: url("../images/recep.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.5rem 2rem;
    margin-top: 2em;
}

.my_recepe{
   color:#fff; 
    background-image: url("../images/my_recep.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 3.5rem 2rem;
}

.categories{
    color:#fff; 
    background-image: url("../images/categories.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.5rem 2rem;
}


.p-card-text{
  position: relative;
  padding-bottom: 56%;
  overflow: hidden;
}

.card-body-content {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;
  overflow: hidden;
}

/*-------- CARDS STATS -------*/
.stats-card{
    display:flex;
    height: 100px;
    margin-bottom: 0.5em;
    
}
.stats-card-body{
    flex:1;
    background-color:#B43D3D;
    padding:1em;
    font-weight: bold;
    color:#fff;
    border-radius: 30px;
}
.stats-card-body:hover{
    color: #fff;
    font-size: 110%;
    text-decoration: none;
}
.account-header{
    width:100%;
    position:relative;
}
.account-title{
    width:100%;
    text-align: center;
}
.account-img{
    width:100%;
    display:flex;
    justify-content: center;
    position:absolute;
}

.profile-row{
    position: absolute;
    display:flex;
    align-self:center;
    bottom:0;
}

.user-title{
    display:flex;
    align-self:center; 
    color: #474242;
}
.user-title:hover{
    text-decoration: none;
}

/* ############## Mon Compte ##################################### */

.card-account{
    padding: 1em;
}

.account-jumbo{
    background-image: url("../images/account.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.profile-img-lg{
    width:200px;
    height: 200px;
    margin: 0.5em;
}

.profile-img{
    width:120px;
    height: 120px;
    margin: 0.5em;
    display:flex;
    text-align:center;
    align-items: center;
    background-position: center;background-repeat: no-repeat;background-size: cover;
}

.profile-img:hover{
    filter:grayscale(0.80);
    cursor: pointer;
}

.profile-img:hover .ico-change{
    display:block;
}

.ico-change{
    width: 100%;
    font-size: 35px;
    color:#fff;
    display:none;
}

.profile-img-sm{
    width:75px;
    height: 75px;
    margin: 0.5em;
    background-position: center;background-repeat: no-repeat;background-size: cover;
}

.profile-img-xs{
    width:50px;
    height: 50px;
    margin: 0.5em;
    background-position: center;background-repeat: no-repeat;background-size: cover;
}

.account-row{
    margin-top : 7em;
}

.account-form{
    padding: 1em 2em;
}

.inline-top{
    margin: 1em 0;
}
/* ############## Mes recettes ##################################### */

.recepe-card{
    margin-bottom: 1em;
    
}

.sub-card-recepe{
    -webkit-box-shadow: 2px 3px 5px 3px rgba(204,204,204,1);
    -moz-box-shadow: 2px 3px 5px 3px rgba(204,204,204,1);
    box-shadow: 2px 3px 5px 3px rgba(204,204,204,1);
     min-height: 400px;
}

/* ############## Liste de Course #################################' */

.shoping-jumbo{
    color:#fff; 
    background-image: url("../images/shop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.5rem 2rem;
}
.form-table tbody td, .form-table thead th{
    padding: 0 1em;
}

table{
    margin: 1em 0;
}

.bottom_bordered{border-bottom: solid 1px #c9c9c9;}

/* ############## BOUTON D'AJOUT #################################' */
.btn-left-bloc{
    margin-bottom: 1em;
    text-align: right;
}
.buttonAddExtend {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
.buttonAddExtend.btn {
  width: 15rem;
  height: auto;
}
.buttonAddExtend.btn .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #5ebd6e;
  border-radius: 1.625rem;
}
.buttonAddExtend.btn .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.buttonAddExtend.btn .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.buttonAddExtend.btn .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.buttonAddExtend.btn .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.buttonAddExtend:hover .circle {
  width: 100%;
}
.buttonAddExtend:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
.buttonAddExtend:hover .button-text {
  color: #fff;
}

.notifyjs-corner{
    top: 4em !important;
}


/* ############## Liste d'ingrédients #################################' */

.list-cust .list-group-item:first-child {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
  }

  .list-cust .list-group-item:last-child {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
  }
  .list-cust .list-group-item {
     border-right:0px;
     border-left:0px;
  }
  .list-group :not(:first-child) {
      background-color: #EEE;

  }
  
  .has-error > *{
      color:#B43D3D;
      border-color: #B43D3D;
  }

  .accountNav{
      margin-right: 1em;
      color: #fff;
  }
  
  .accountNav:hover{
      text-decoration: none;
      color: #fff;
  }
  
  
  /* -------------- Pagination ----------------------------------- */
  
.pagination {
    background: #f2f2f2;
    padding: 1em;
    margin-bottom: 20px;
    display:flex;
    justify-content: center;
}

.page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}

/* ############################# FILES INPUT ########################################*/

.img-picker{
    height: 100px;
    width:100px;
}

/* Bouton d'ajout */
.img-upload-btn { 
    position: relative; 
    overflow: hidden; 
    padding-top: 95%;
    color: #333;
    background-color:#fff;
    border-color:#ccc;
} 
.img-upload-btn:hover { 
    background-color:#b0b0b0;
} 
.img-upload-btn input[type=file] { 
    position: absolute; 
    top: 0; 
    right: 0; 
    min-width: 100%; 
    min-height: 100%; 
    font-size: 100px; 
    text-align: right; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    outline: none; 
    background: white; 
    cursor: inherit; 
    display: block; 
} 
.img-upload-btn i { 
    position: absolute;
    height: 16px;
    width: 16px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

.img-picker-body{
    margin: 2em 0
}


@media only screen and (max-width : 576px) {
    .profile-img{
        width: 60px;
        height: 60px;
    }
    .account-img{
        bottom:-70px;
    }
    .account-row{
        margin-top : 3em;
    }
}

@media only screen and (max-width : 992px) {

    .logo-apps{
        display:none;
    }

}
 